.menuCss{

  position: fixed;
  margin-left: 50px;
}
/*.codeExmp{
  white-space: pre-line;
  font-family: Consolas, monaco, monospace;
  font-weight: bolder;
  background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 1em 3em;
    max-width: 50%;
}*/

.codeInsidePgrph{
  font-family: Consolas, monaco, monospace;
  font-weight: bolder;
  background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3px;
}
